<div class="row">
  <div class="span3"><h1>Messagerie</h1>
    <ul class="nav nav-tabs nav-stacked">
      <li>Messages reçus</li>
      <li>Messages envoyés</li>
      <li>Écrire un message</li>
    </ul>
  </div>
  <div class="span9">...
  </div>
</div>




